.container{
text-decoration-style: solid;
width: 100%;
margin:0;
margin-right: 0;
margin-left: 0;
}
.icon {
    top: 86px;
    left: 47px;
    display: inline-block;
    cursor: pointer;
    position:absolute;
    float: left;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:white;
    margin:6px 0;
    transition: 0.4s;


}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

h1{
  text-align: center;
}
h3{

}
h4{
  text-align: center;
}
.header{
   background: url(assets/backgrounds/landing.jpg);
   color: white;
   text-align; center;
   text-align-last: center;
   height:600px;
   margin-bottom: 0;
}
.header image{
  top: 100px;
}
.row2{
  width:100%;
  margin-top: 0;
}
.ccc{
  float: left;
   margin-left: 0;
   width:20%;
 }
.box{
height:210px;
width: auto;
padding-right: 0;
}
 .box1{
   background-color: grey;
   margin-left: 0;
   color:black;
   height:105px;
   }

 .box2{
   display: inline block;
   color:white;
   background-color: orangered;
   margin-left: 0;
   height:105px;
 }
.breakfast {
  padding-left: 0;
  display: inline-block;
  float: left;
  color: white;

}
.lunch{
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
  float: left;
  background-color: transparent grey;
  color:white;


}

.dinner{
  padding-left:0;
  padding-right: 0;
  display: inline-block;
  float:left;
  color: white;

}
.food{
  width: 50%;
  float: left;
 background-color: white;
 padding-left: 10px;
}
.image{
    width: 300px;
    border: auto solid cyan;
    padding: 25px;
    margin: 25px;
}
.food1{
  width: 50%;
  margin-left: 5%;
  margin-top: 5%;
}
.food2{
  width:50%;
  margin-left:5%;
  margin-bottom: 5%

}
.text1{
  margin-top: 5%;
  width: 50%;
  margin-left: 20%;
  float:right;
  text-align-last: left;
  background-color: white;
}
.drinks{
  width: 50%;
  float:right;
  margin-bottom: 5%;


}
.text2{
  padding-right: 5%;
  width: 50%;
  float:left;
  background-color: white;
  text-align: right;
}
.row5{
  background-image: url(assets/backgrounds/foodsBg.jpg);
 height:500px;
}
.table1{
  width:80%;
  border-color: darkgrey;
  background-color: grey;
  border: 0.5px
  float:left;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom:5%;
}

.Fastfood{
margin-left: 0;
display: inline-block;
width:262px;
transition: 0.5s;
cursor: pointer;
}
.Fastfood:focus {
border: 2px solid red;
background-color: white;
color: orangered;
}

.Drinks{
display: inline-block;
width:260px;
}
.Drinks:focus {
border: 2px solid red;
background-color: white;
color: orangered;}

.Chicken{
display: inline-block;

width:260px;
}
.Chicken:focus {
border: 2px solid red;
background-color: white;
color: orangered;}

.Rice{
display: inline-block;
width:262px;
}
.Rice:focus {
border: 2px solid red;
background-color: white;
color: orangered;}


.table2{
 height:300px;
  width:80%;
  background-color: white;
  border: 0.5px;
  float:left;
 margin-left: 10%;
 margin-right: 5%;
 margin-top:10%;
 margin-bottom:5%;
color: orangered;
}

.chickenBurger{
  display: inline-block;
  float:left;
  padding-bottom: 10%
  padding-left: 5%;
  width:33%;

}

.beefBurger{
  display: inline-block;
  padding-left: 1%;
  border-right: 3%;
  padding-bottom: 10%;
  float:left;
  width:33%;
}

.chickenPizza{
  display: inline-block;
  padding-left: 3%;
  float:left;
  width:33%;
  padding-bottom: 10%
  margin right:5%
}

.show-gallery{
	display: inline-block;
	position: relative;
	background: white;
  color:orangered;
	padding: 15px;
  border-color: orangered;
  border-top: 2px solid orangered;
	border-right: 2px solid orangered;
	border-bottom: 2px solid orangered;
	border-left: 2px solid orangered;

      }
.clickable{
  cursor: pointer;
  color:orangered;

}
.clickable:hover {
        text-decoration: underline;
      }
.row6{
  background-color:white;
  border-spacing: inherit;
  border-radius: 3px;
  border-color: orangered;
  width: 100%;
  display: inline-block;
}
.box3{
 display: inline-block;
  float: left;
  margin-top:30px;
  margin-bottom: 75px;
  margin-left: 300px;
  border-spacing: inherit:auto;
  border-color: black;
  text-align: center;
}
.aboutme{
  display: inline-block;
  float: right;
  margin-top:30px;
  margin-bottom: 75px;
  margin-right: 300px;
  border-spacing: inherit:auto;
  border-color: black;
  text-align: center;
  text-emphasis-position: right;

}
.row7{
  background-image: url(assets/backgrounds/subscribe.jpg);
  color: white;
  height: 250px;
text:center;

}
.form input{
  margin-top: 100px;
  margin-right: -4px;
  border: none;
  border-top-left-radius:5px;
  border-bottom-left-radius: 5px;

}
.button{
  margin-top: 100px;
  background-color: orangered;
  colour: white;
  padding-left: 20px;
  border: 1px solid orangered;

}

.footer{
  text-align-last: center;
 height:280px;
 background-color:orangered;

color: white;}
.footer img{
  position: center;
}
