.container{
width:100%;
margin: 0;
display: grid;
}
.header{
width:100%;
height:auto;
}
.landingpage{
background-image: url(assets/backgrounds/landing.jpg);
}
.box{
  background-color:silver;
   float:left;
   margin-left: 0;
   width:25%;

 }
 .box2{
   background-color: orangered;
   margin-left: 0;
   width:25%;
 }
.breakfast {
   float:left;

}
.lunch{
  float:left;
}
.dinner{
  float:left;
margin-right: 0;

}
.food{
  width: 50%
  float: left;
 background-color: white;
}
.text1{
  width: 50%;
  float:right;
  background-color: white;
}
.drinks{
  width: 50%;
  float:right;
}
.text2{
  width: 50%;
  float:left;
  background-color: white;
}
.row5{
  background-image: url(assets/backgrounds/foodsBg.jpg);
  width:100%

}
.fastfoodmenu{
  width:60% auto;
  float:center;
  padding:50px;

}
.chickenBurger{
  float:left;
  width:33%;
  height: 250px;
}

.beefBurger{
  float:left;
  width:33%;
}

.chickenPizza{
  float:left;
  width:33%;
}

.row6{
  background-color:white;
  height: 250px;
  width: 100%
}
.row7{
  width:100%;
  background-image: url(assets/backgrounds/subscribe.jpg);

}
.footer{

 background-color:orangered;
 float:center;
}
